/*----------------
Google Font Import
------------------*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/*---------- 
Global Style
-----------*/
html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*---------- 
Global Color
------------*/
.primary-color {
  color: #3c65f5 !important;
}
.secondary-color {
  color: #85ff83 !important;
}
.bg-primary-color {
  background-color: #3c65f5 !important;
}
.bg-secondary-color {
  background-color: #85ff83 !important;
}
.btn-secondary-color {
  background-color: #d8f1ff !important;
}
.secondary-button-color {
  background-color: #05264e !important;
}
.secondary-text {
  color: #4f5e64;
}
.borderSecondary {
  border-color: #4f5e64;
}
.cursorPointer {
  cursor: pointer;
}
.img168 {
  width: 168px;
  /* height:128px; */
}
.img68 {
  width: 68px;
  height: 68px;
}
.img48 {
  width: 48px;
  height: 48px;
}
.img34 {
  width: 34px;
  height: 34px;
}
.img28 {
  width: 28px;
  height: 28px;
}
.img24 {
  width: 24px;
  height: 24px;
}
.img18 {
  width: 18px;
  height: 18px;
}
.fontSize17 {
  font-size: 17px !important;
}
.fontSize16 {
  font-size: 16px !important;
}
.fontSize15 {
  font-size: 15px !important;
}
.fontSize14 {
  font-size: 14px !important;
}
.fontSize13 {
  font-size: 13px !important;
}
.fontSize12 {
  font-size: 12px !important;
}
.fontSize11 {
  font-size: 11px !important;
}
.fontSize10 {
  font-size: 10px !important;
}
.noSpace {
  margin: 0 !important;
  padding: 0 !important;
}

/*----------
Loading CSS
------------*/
.loading {
  width: 40px;
  height: 40px;
  color: #85ff83;
  background: conic-gradient(
      from -45deg at top 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 45deg at right 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 135deg at bottom 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from -135deg at left 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    );
  animation: load 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes load {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----------
Header Style
------------*/

/* NavBar Style  */
.nav-link {
  color: black !important;
}
.active {
  color: #3c65f5 !important;
}

/* Header Section Style  */
.hero-section {
  max-width: 725px;
  margin: auto;
  width: 100%;
}

/* Find Search Box  */
.search-form {
  box-shadow: 0 18px 40px rgb(25 15 9 / 10%);
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}
.form-style {
  outline: none;
  border: none;
  padding: 10px;
}
.form-input {
  border: 0 solid rgba(26, 15, 9, 0.1);
  border-radius: 0;
  padding: 10px 20px 10px 34px;
  display: inline-block;
  width: 100%;
  margin-right: 10px !important;
}
.input-location {
  background: url("/media/img/icon-location.svg") no-repeat left 10px center;
}
.input-industry {
  background: url("/media/img/icon-job.svg") no-repeat left 10px center;
}
.input-search {
  background: url("/media/img/key-numbers.svg") no-repeat left 10px center;
}
.form-industry {
  width: 100%;
  max-width: 180px;
  margin-right: 10px !important;
}
.form-find {
  background: #fff;
  box-shadow: 0 18px 40px rgb(25 15 9 / 10%);
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.btn-find {
  min-width: 122px;
  background-image: url("/media/img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left 24px top 13px;
}
option,
select {
  font-size: 16px !important;
  color: #4f5e64;
}
.pl-35 {
  padding-left: 35px;
}
.form-industry input[type="text"] {
  border: 0px !important;
}

/* Header Box Style  */
.item-logo {
  border: 1px solid rgba(6, 18, 36, 0.1);
  padding: 22px 18px;
  display: flex;
  width: 100%;
  text-align: left;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: #fff;
  flex-wrap: wrap;
}
.image-left {
  min-width: 50px;
  padding-right: 10px;
}
.JobListSlide {
  cursor: pointer !important;
}

/*--------------
Jobs List Style
----------------*/

.jobsTab {
  border: 1px solid #4f5e64;
  border-radius: 8px;
  cursor: pointer;
}
.jobsTabActive {
  border: 1px solid #3c65f5;
}

/*---------------
Newsletter Style
-----------------*/
.box-newsletter {
  padding: 57px 0 96px;
  background: url("/media/img/newsletter/bg-newsletter.svg") no-repeat 0 0;
  background-size: cover;
  border-radius: 16px;
}
.box-form-newsletter {
  background: #fff;
  max-width: 610px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  border: 0px !important;
}
.input-newsletter {
  width: 90%;
  border: 0 !important;
  min-height: 60px;
  background-image: url("/media/img/newsletter/email.svg");
  background-repeat: no-repeat;
  background-position: left 17px center;
  padding: 15px 15px 15px 60px;
}
.font-heading {
  font-weight: 500;
}
.btn-newsletter {
  color: #fff;
  background-color: #3c65f5;
  line-height: 26px;
  padding: 10px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input-newsletter:focus {
  outline: none !important;
  border: none !important;
}

/*-----------------
Sing In Page style
------------------*/
.form-group {
  margin-bottom: 1rem;
}
.login-register input {
  height: 53px;
  line-height: 53px;
  font-size: 14px;
}
.form-group input {
  background: #fff;
  border: 1px solid #e0e6f6;
  height: 53px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="time"] {
  border: 1px solid #e0e6f7;
  border-radius: 4px;
}
.login-btn {
  border-radius: 8px;
  padding: 13px 25px;
  font-size: 14px;
  line-height: 1;
  transition: 0.2s;
  padding: 18px 25px;
  background: #05264e;
  color: #fff;
  border-radius: 4px;
}
.no-outline:focus {
  outline: none !important;
}

/*-------------
Hire And Apply
---------------*/
.hire-box {
  background-color: #fff6f1;
}
.apply-box {
  background-color: #eff7ff;
}

/*-----------
 Breadcrumb
-------------*/
.breadcrumb {
  background-image: url("/media/img/company.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*-------
About Us
---------*/
.about-us {
  width: 60%;
}
@media (max-width: 992px) {
  .about-us {
    width: 100%;
  }
}
.icons {
  width: 28px;
  height: 28px;
  padding: 5px;
  margin: 1px;
  border: 1px solid grey !important;
  background: #fff;
  color: gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.icons:hover {
  color: white;
  background-color: gray;
}

/*--------
Contact Us
----------*/
.contact-form {
  width: 45%;
  margin: 10px 16px 0 0;
}
/* Candidates  */
.candidates-bg {
  background-color: #f2f6fd;
}

.recruiters-box {
  background-color: #f8faff;
}
.recruiters-btn {
  background-color: #e0e6f7;
}
.hover-white:hover {
  background-color: #fff !important;
}
.company_logo {
  margin-top: -40px;
}
.profile_setting .active {
  color: black !important;
  background-color: white !important;
  border: 1px solid #4f5e64 !important;
}
.profile_setting button {
  border: 1px solid #e0e6e7 !important;
}
.register-btn .btn {
  border: none !important;
}
.form-check input {
  height: 1em !important;
  margin-top: 0em !important;
  margin-right: 0.2em;
}
.border-remove-btn button {
  border: none !important;
}
.editor-height {
  height: 220px;
}
.file-btn::file-selector-button {
  border: none;
  background-color: #3c65f5;
  color: white;
  padding: 0em 1.6em !important;
  border-radius: 0.5em;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px !important;
}
.rti--input {
  border: none !important;
  width: 100% !important;
}
.rti--tag {
  color: black !important;
  padding: 8px 16px !important;
  font-size: 12px;
}
.rti--container {
  padding: 24px !important;
  overflow-x: auto;
}
.dataPicker {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  border-radius: 0.5rem !important;
}
