@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.primary-color {
  color: #3c65f5 !important;
}
.secondary-color {
  color: #85ff83 !important;
}
.bg-primary-color {
  background-color: #3c65f5 !important;
}
.bg-secondary-color {
  background-color: #85ff83 !important;
}
.search-form {
  box-shadow: 0 18px 40px rgb(25 15 9 / 10%);
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}
